@model Trav.Models.HomeViewModel

@{
    ViewBag.Title = "Home";
    var key = System.Configuration.ConfigurationManager.AppSettings["GoogleMapsAPIKey"];
}

@if (!string.IsNullOrEmpty(key))
{
    <div>
        <p>Countries total: @Model.CountriesTotal</p>
        <p>Countries visited: @Model.CountriesVisitedTotal</p>
        <p>Countries yet to visit: @Model.CountriesToVisitTotal</p>
    </div>

    <div id="map" style="height:600px;width:100%;"></div>
    <script>
        var map;
        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: { lat: 51.507, lng: 0.128 }, //london
                zoom: 2
            });

            var layer = new google.maps.FusionTablesLayer({
                query: {
                    select: 'geometry',
                    from: '1N2LBk4JHwWpOY4d9fobIn27lfnZ5MDy-NoqqRpk',
                    where: "ISO_2DIGIT IN (@Html.Raw(Model.CountriesVisited))"
                },
                map: map,
                suppressInfoWindows: true
            });
            layer.setMap(map);
        }
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=@key&callback=initMap" async defer></script>
}